body{
    background-color: aqua;
}

#container{
    background-color: aliceblue;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myinteraction{
    padding: 10px;
}


#mapimage{
    max-width: 100%;
    margin-top: 20px;
    height: auto;
}

nav button {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
}

#knopNoord, #knopZuid {
    display: block;
    width: 300px;

}

#knopWest, #knopOost {
    display: inline-block;
    width: 150px;

}